.hero {
    background-image: url("/assets/images/hero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    /* Optional: to ensure text is readable */
    position: relative;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
    /* Adjust padding as needed */
}

.overlay-box {
    background-color: rgba(128, 128, 128, 0.5);
    /* Medium opacity grey */
    border-radius: 8px;
    /* Optional: rounded corners */
    padding: 20px;
    /* Adjust padding as needed */
}