/* CSS HEX */
/*
--ash-gray: #B6BDB7ff;
--dun: #D8CCB8ff;
--mint-cream: #E5ECE2ff;
--midnight-green: #215F6Aff;
--chestnut: #934F3Fff;
*/
.text-lowercase {
    text-transform: lowercase;
}

.text-light {
    font-weight: 100;
}

li {
    list-style: none;
    margin-bottom: 0px;
}

ul,
ol {
    list-style: none;
    margin-bottom: 1rem;
}

.navbar-brand {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    transition: transform 1s ease-in-out;
}

.navbar-brand:hover {
    transform: scale(1.3);
    color: #934f3fff;
    transition: transform 0.3s ease-in-out;
}

/* Rotate burger icon on hover */
.navbar-toggler:hover .navbar-toggler-icon {
    transform: rotate(90deg);
    transition: transform 0.3s ease-in-out;
}

.hero {
    background-image: url("/assets/images/hero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    position: relative;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
}

.overlay-box {
    background-color: rgba(128, 128, 128, 0.75);
    border-radius: 8px;
}

.fa-solid {
    transition: transform 0.3s ease-in-out;
    color: #215f6aff;
}

.fa-solid:hover {
    transform: scale(1.3);
    color: #934f3fff;
}

.custom-btn {
    background-color: #215F6Aff;
    color: white;
    border: none;
}

.custom-btn:hover {
    background-color: #934F3Fff;
    color: white;
}

.btn-social i {
    color: #b6bdb7ff;
    transition: transform 0.3s ease-in-out;
}

.btn-social i:hover {
    transform: scale(1.3);
    color: #ffffffff;
}

#contact-section {
    background-color: #b6bdb7ff;
}